body {
  background-color: black;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

.nav_bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: rgb(75, 65, 129);
}
